:root {
  --blue: #4cc6ff;
  --pink: #ff5adb;
  --orange: #ffca76;
  --base-green: #5eff9c;
  --green: #55ee90;
}

body {
  --primary: var(--blue);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1 {
  margin-bottom: 0;
}

main,
section {
  padding-top: 50px;
  text-align: center;
}

section {
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section p {
  margin: 0;
  text-decoration: none;
}

a {
  color: #000;
  text-decoration: none;
  white-space: nowrap;
}

a span {
  text-decoration: underline;
}

a:hover::after {
  content: " ⏺";
}

a:hover::before {
  content: "⏺ ";
}

img {
  max-width: 100%;
  height: auto;
}

.flourish-logo {
  display: none;
}

input[type="email"] {
  font-size: 14px;
  height: 28px;
  border: 1.5px solid #000;
  border-radius: 4px 0px 0px 4px;
  padding: 0px 4px;
  width: 100%;
}

*:focus {
  outline: 2.5px solid var(--primary);
  outline-offset: -0px;
}

a:focus {
  outline-offset: 3px;
  border-radius: 5px;
}

input[type="email"]::placeholder {
  color: #000;
  font-weight: light;
}

input[type="submit"] {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0px 12px;
  height: 28px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px;
  width: fit-content;
}

input[type="submit"]:hover {
  background-color: var(--primary);
  color: black;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  max-width: 100%;
  width: 300px;
}
