:root {
  --blue: #4cc6ff;
  --pink: #ff5adb;
  --orange: #ffca76;
  --red: #ed6662;
  --base-green: #5eff9c;
  --green: #55ee90;

  --green-dark: #35d673;
  --pink-dark: #f24da2;
  --red-dark: var(--red);

  --primary-light: var(--green);
  --primary-dark: var(--green-dark);
  --primary: var(--primary-light);

  --foreground: black;
  --background: white;
}

.dark {
  display: none;
}

.selected.light {
  display: inline-block;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: white;
    --background: black;
    --green: var(--green-dark);
    --pink: var(--pink-dark);
    --primary: var(--primary-dark);
  }

  .selected.light {
    display: none;
  }

  .selected.dark {
    display: inline-block;
  }

  .light {
    display: none;
  }

  .dark {
    display: inline-block;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: var(--background);
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1 {
  margin-bottom: 0;
}

main,
section {
  padding-top: 50px;
  text-align: center;
}

section {
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section p {
  margin: 0;
  text-decoration: none;
}

a {
  color: var(--foreground);
  text-decoration: none;
  white-space: nowrap;
}

a span {
  text-decoration: underline;
}

a:hover::after {
  content: " •";
}

a:hover::before {
  content: "• ";
}

img {
  max-width: 100%;
  height: auto;
}

.flourish-logo {
  display: none;
}

input[type="email"] {
  font-size: 16px;
  height: 28px;
  border: 1.5px solid var(--foreground);
  border-radius: 4px 0px 0px 4px;
  padding: 0px 4px;
  width: 100%;
  background-color: var(--background);
}

*:focus {
  outline: 2.5px solid var(--primary);
  outline-offset: -0px;
}

a:focus {
  outline-offset: 3px;
  border-radius: 5px;
}

input[type="email"]::placeholder {
  color: var(--foreground);
  font-weight: light;
}

input[type="submit"] {
  background-color: var(--foreground);
  color: var(--background);
  border: none;
  padding: 0px 12px;
  height: 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px;
  width: fit-content;
}

input[type="submit"]:hover {
  background-color: var(--primary);
  color: black;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  max-width: 100%;
  width: 300px;
}
